#home-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    z-index: var(--menuEl);
    background-color: transparent;
    position: fixed;
}

#home-menu-container {
    display: flex;
    justify-content: center;
}

@keyframes navAnimIn {
    0% {
        width: calc(100% - 40px);
        background-color: transparent;
    }
    100% {
        width: 90%;
        background-color: rgba(0,0,0,0.5);
    }
}

@keyframes navAnimOut {
    0% {
        width: 90%;
        background-color: rgba(0,0,0,0.5);
    }
    100% {
        width: calc(100% - 40px);
        background-color: transparent;
    }
}

#home-menu-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#home-menu-nav {
    display: flex;
    gap:1rem;
    justify-content: flex-end;
    align-items: center;
    
}

#home-menu-nav li{
    list-style-type: none;
}

#header-intro {
    padding: 10em;
}